/* Dropdown component için stil */
.dropdown {
    display: flex;
    justify-content: center; /* Yatayda ortalama */
    margin-top: 2rem;
  }
  
  .dropdown button {
    width: 250px; /* Filter butonunun genişliğini artırıyoruz */
    padding: 15px 20px; /* Butonun içindeki yazının rahatça görünmesi için iç boşluk ekliyoruz */
    font-size: 18px; /* Butonun font büyüklüğünü artırıyoruz */
    text-align: center; /* Butonun metnini ortalıyoruz */
  }
  
  .dropdown-menu {
    background-color: white;
    padding: 0; /* Menü öğelerinin arasında boşluk olmaması için */
    list-style-type: none; /* Liste işaretlerini kaldırdık */
    margin: 0; /* Menü etrafındaki boşlukları sıfırladık */
    width: 250px; /* Menü genişliğini buton ile uyumlu yapıyoruz */
    border-radius: 5px; /* Kenarları yuvarlatıyoruz */
  }
  
  .dropdown-item {
    background-color: white;
    color: black; /* Yazıyı siyah yapıyoruz */
    border: none;
    padding: 15px 20px; /* Daha geniş butonlar */
    margin: 5px 0; /* Menü öğeleri arasında yatayda mesafe */
    cursor: pointer;
    font-size: 18px; /* Font büyüklüğünü artırıyoruz */
    border-radius: 4px;
    text-align: center; /* İçeriği yatayda ortalıyoruz */
  }
  
  .dropdown-item:hover {
    background-color: rgb(0, 28, 139); /* Hover durumunda koyu kırmızı */
    color: white; /* Hover durumunda yazı rengi beyaz olacak */
  }
  