/* Dropdown component için stil */
.dropdown {
  display: flex;
  justify-content: center; /* Yatayda ortalıyoruz */
  margin-top: 2rem; /* Üstten boşluk ekliyoruz */
}

/* Dropdown select stilini eski buton stiline yakın hale getiriyoruz */
.dropdown select {
  width: 250px; /* Dropdown genişliğini artırıyoruz */
  padding: 15px 20px; /* İç boşluk ekliyoruz */
  font-size: 18px; /* Font büyüklüğünü artırıyoruz */
  text-align: center; /* Yazıyı ortalıyoruz */
  border-radius: 5px; /* Kenarları yuvarlatıyoruz */
  border: 1px solid #ccc; /* Hafif gri bir kenarlık */
  background-color: #358be2; /* Düz açık mavi renk */
  color: white; /* Yazı rengini beyaz yapıyoruz */
  cursor: pointer;
}

/* Seçenekler için stil */
.dropdown option {
  font-size: 18px; /* Font büyüklüğünü artırıyoruz */
  padding: 15px 20px; /* İç boşluk ekliyoruz */
  text-align: center; /* Metni ortalıyoruz */
  background-color: white;
  color: black; /* Yazı rengini siyah yapıyoruz */
}

/* Seçenek hover etkisi */
.dropdown select:hover {
  background-color: #4da6ff; /* Hover durumunda daha yoğun bir mavi */
}

.dropdown option:hover {
  background-color: #4da6ff; /* Hover durumunda seçeneğin arka planı yoğun mavi */
  color: white; /* Hover durumunda yazı rengi beyaz olacak */
}
