/* Tablo düzeni */
.table-container {
  margin: 20px auto;
  max-width: 80%;
  margin-top: 2rem; /* Üstten boşluk */
}

.character-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.character-table th, .character-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.character-table th {
  background-color: #c57f0f; 
  color: white;
}

.character-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.character-table tr:hover {
  background-color: #f1f1f1;
}

/* Sayfalandırma düzeni */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination button {
  background-color: #0074D9; 
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
  font-weight: bold;
}

/* Filtre ve arama kutularının düzeni */
.filter-controls {
  display: flex;
  gap: 20px; /* Elemanlar arasında boşluk bırakır*/
  align-items: center; /* Dikeyde ortalama sağlanan kısım*/
  margin-bottom: 20px; /* Filtre kontrolü ile tablo arasındaki space*/
}

.filter-controls label {
  margin-right: 8px; /* Etiketlerle input arasına boşluk ekler */
}

.filter-controls select, .filter-controls input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
